<% provide :title, t(".title") %>
<div class="row">
  <aside class="col-md-3">
    <section class="user-info">
      <h1>
        <div class="col-md-3">
          <%= gravatar_for current_user %>
        </div>
        <div class="col-md-9">
          <span class="name"><%= current_user.name %></span>
          <span class="email"><%= current_user.email %></span>
        </div>
      </h1>
    </section>
    <%= render partial: "users/vertical_menu" %>
  </aside>
  <div class="col-md-9">
    <h1><%= t ".heading" %></h1>
    <div class="row">
      <div class="col-md-8">
        <%= render partial: "order_details/order_detail",
          collection: @order_details %>
      </div>
      <div class="col-md-3 order-now-container">
        <div class="row total">
          <%= t ".total" %>
        </div>
        <div class="row order-total-price">
          <%= number_to_currency total_price(@order_details), precision:0,
            unit: t(".unit"), format: t(".format") %>
        </div>
        <div class="row order-now-button">
          <button class="btn btn-success btn-order-now"
            data-user-id="<%= current_user.id %>">
            <span class="glyphicon glyphicon-gift"></span> <%= t ".order_now" %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
