<div class="vertical-menu">
  <%= link_to admin_requests_path do %>
    <span class="glyphicon glyphicon-comment"></span> <%= t ".requests" %>
  <% end %>
  <%= link_to admin_users_path do %>
    <span class="glyphicon glyphicon-user"></span> <%= t ".users" %>
  <% end %>
  <%= link_to "#" do %>
    <span class="glyphicon glyphicon-tasks"></span> <%= t ".categories" %>
  <% end %>
  <%= link_to "#" do %>
    <span class="glyphicon glyphicon-shopping-cart"></span> <%= t ".products" %>
  <% end %>
  <%= link_to admin_orders_path do %>
    <span class="glyphicon glyphicon-gift"></span> <%= t ".orders" %>
  <% end %>
  <%= link_to "#" do %>
    <span class="glyphicon glyphicon-plus"></span> <%= t ".import" %>
  <% end %>
</div>
