<div class="vertical-menu">
  <%= link_to current_user do %>
    <span class="glyphicon glyphicon-user"></span> <%= t ".user_profile" %>
  <% end %>
  <%= link_to update_user_path current_user do %>
    <span class="glyphicon glyphicon-cog"></span> <%= t ".update_profile" %>
  <% end %>
  <%= link_to show_products_in_cart_path do %>
    <span class="glyphicon glyphicon-shopping-cart"></span> <%= t ".cart" %>
  <% end %>
  <%= link_to orders_path do %>
    <span class="glyphicon glyphicon-gift"></span> <%= t ".orders" %>
  <% end %>
  <%= link_to requests_path do %>
    <span class="glyphicon glyphicon-comment"></span> <%= t ".send_suggest" %>
  <% end %>
  <%= link_to recent_viewed_products_path do %>
      <span class="glyphicon glyphicon-eye-open"></span> <%= t ".recent_viewed" %>
  <% end %>
</div>
