<% provide :title, t(".title") %>
<div class="row">
  <aside class="col-md-3">
    <section class="user-info">
      <h1>
        <div class="col-md-3">
          <%= gravatar_for current_user %>
        </div>
        <div class="col-md-9">
          <span class="name"><%= current_user.name %></span>
          <span class="email"><%= current_user.email %></span>
        </div>
      </h1>
    </section>
    <%= render partial: "admin/vertical_menu", locals: {index: 0} %>
  </aside>
  <div class="col-md-9">
    <h1><%= t ".heading" %></h1>
    <div class="row">
      <%= render partial: "requests/request", collection: @requests %>
      <%= will_paginate @requests %>
    </div>
  </div>
</div>
