<div class="col-md-3 product">
  <div class="row">
    <%= link_to product do %>
       <%= image_tag product.picture.url, class: "center-img" %>
    <% end %>
  </div>
  <div class="row product-info">
    <p class="product-name">
      <%= product.name %>
    </p>
    <p class="product-price">
      <%= number_to_currency product.price, precision:3, unit: t(".unit"),
        format: t(".format") %>
    </p>
    <p class="product-quantity">
      <%= pluralize product.quantity, "product" %> <%= t ".available" %>
    </p>
  </div>
</div>
