<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("app_name"), root_path, id: "logo" %>
    <nav class="nav navbar-nav navbar-right">
      <li><%= link_to t(".home"), root_path %></li>
      <li><%= link_to t(".help"), "/help" %></li>
      <li><%= link_to t(".contact"), "/contact" %></li>
      <li><%= link_to t(".about"), "/about" %></li>
      <% if logged_in? %>
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t ".account" %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t(".profile"), current_user %></li>
            <li><%= link_to t(".settings"), edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to t(".log_out"), logout_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to t(".login"), login_path %></li>
        <li><%= link_to t(".signup"), signup_path %></li>
      <% end %>
    </nav>
  </div>
</header>
