<!DOCTYPE html>
<html>
  <head>
    <title><%= get_title yield :title %></title>
    <%= render "layouts/default_assets" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <div id="flash">
        <%= render partial: "layouts/flash", locals: {flash: flash} %>
      </div>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
